img{  
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

html{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;

}

h1{
    text-align: center; font-size: 50px;
    margin: 0;
    padding: 20px 0;    
    color: black;
    text-shadow: 3px 2px 1px gainsboro;  
}
p, li {
  text-align: justify;
  font-size: 18px;    
  line-height: 1.5;
  letter-spacing: 1px;
}

body {
  width: 900px;
  margin: 0 auto;
  background-color: snow;
  padding: 2px 20px 20px 20px;
  border: 3px solid black;
}

